<div class="media">
  <h2> About Bloccit </h2>
<div class="media-body">
  <h4 class="media-heading">
  This is the page that includes the Struggle of a human going programmer.
  </h4>
  <div class="row">
    <div class="col-md-8">
      <p> My name is Mitch Loar and I worked on Bloccit
        so that it may seem to be close to a Reddit duplicate. </p>
      </br>
      <p> please visit the site and discover all the things that I've learned</p>
  </div>
  </div>
</div>
</div>
